Alert Details:
{{- range .Alerts.Firing }}
- Status: {{ .Status | toUpper }}
  Alertname: {{ .Labels.alertname }}
  Namespace: {{ or .Labels.namespace .Labels.app_namespace "default" }}
  Job: {{ or .Labels.job "unknown" }}
  Starts At: {{ .StartsAt }}
  {{- if .Annotations.summary }}
  Summary: {{ .Annotations.summary }}
  {{- end }}
  {{- if .Annotations.description }}
  Description: {{ .Annotations.description }}
  {{- end }}
  Labels:
  {{- range .Labels.SortedPairs }}
    - {{ .Name }}: {{ .Value }}
  {{- end }}
{{- end }}
{{- range .Alerts.Resolved }}
- Status: {{ .Status | toUpper }}
  Alertname: {{ .Labels.alertname }}
  Namespace: {{ or .Labels.namespace .Labels.app_namespace "default" }}
  Job: {{ or .Labels.job "unknown" }}
  Starts At: {{ .StartsAt }}
  {{- if .Annotations.summary }}
  Summary: {{ .Annotations.summary }}
  {{- end }}
  {{- if .Annotations.description }}
  Description: {{ .Annotations.description }}
  {{- end }}
  Labels:
  {{- range .Labels.SortedPairs }}
    - {{ .Name }}: {{ .Value }}
  {{- end }}
{{- end }}
